.propostaconteudo {
    display: grid;
    gap: 1.5rem;
    grid-template-areas: 
        'um dois'
        'tres tres';
    grid-template-columns: 1fr 1fr;
    width: 1080px;
    margin: 20px auto;
    font-size: 28px;

    @media (max-width: 1000px) {
        grid-template-areas: 
        'um dois'
        'um dois'
        'tres tres';
        width: 80%;
    }

    .info {
        font-weight: bold;
        @media (max-width: 1000px) {
            font-size: 1rem;
            align-items: center;
        }

        @media (max-width: 400px) {
            font-size: 0.6rem;
        }
        
    }

    .info:nth-child(1) {
        grid-area: um;
        display: flex;
        flex-direction: column;
        gap: 5%;
        @media (max-width: 1000px) {
            gap: 5%;
        }

        @media (max-width: 700px) {
            margin-bottom: 20px;
        }
    }

    .info:nth-child(2) {
        grid-area: dois;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .info:nth-child(3) {
        display: flex;
        grid-area: tres;
        align-items: center;
        gap: 14%;
        justify-content: center;
        @media (max-width: 1000px) {
            flex-direction: row-reverse;
        }
    }

    img {
        width: 400px;
        @media (max-width: 1000px) {
            width: 350px;
        }

        @media (max-width: 810px) {
            width: 270px;
        }
        
        @media (max-width: 700px) {
            width: 200px;
        }

        @media (max-width: 450px) {
            width: 150px;
        }

        @media (max-width: 300px) {
            width: 100px;
        }
    }
}
