@font-face {
    font-family: fonte_daora;
    src: url(../assets/PPMori-Regular.otf);

}

@font-face {
    font-family: fonte_daora_bold;
    src: url(../assets/PPMori-SemiBold.otf);

}

$verde-escuro: #052e04;
$verde-claro: #168f12;